body {
    background-image: url('leonard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

@media print {
    body {
        background-image: url('leonard.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
}
h1{
    text-align: center;
    color: #ddd;
}

.table-container {
    margin: 20px auto;
    border: 1px #007bff;
    width: 80%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f9f9f9;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

.print-button {
    display: block;
    width: 100px;
    padding: 10px;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 auto;
}
